.trip-card{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}

.image-container img{
    overflow: hidden;
    height:250px;
    border: 1px solid #eee;
    color: #eee;
}

.trip-card:hover {
    background-color: black;
  }

.trip-card-container {
    padding: 1rem;
    max-width: 240px;
    margin:auto;
    display: grid;
    
}
